@font-face{
	font-family: 'Montserrat';
	src: url ('assets/fonts/Montserrat-Regular.otf')format("opentype");
	font-weight: 400;
}
@font-face{
	font-family: 'Montserrat';
	src: url ('assets/fonts/Montserrat-Bold.otf')format("opentype");
	font-weight: 700;
}
	@font-face{
	font-family: 'Montserrat';
	src: url ('assets/fonts/Montserrat-Italic.otf')format("opentype");

}

h1
{
	font-family:Montserrat;

}

h2
{
	font-size: 2em;
	text-decoration: underline;
}
body
{
	background-color: #e5d3b5;
	margin: 10px;
}

p 
{
	font-family: Montserrat;
}

.definition
{
	font-family: Montserrat;
	font-size: 1em;
	border: 2px solid black;
	width: 75%;
	margin: auto;

}

.deftitre
{
	text-align: center;

}
#logo
{
display: flex;
justify-content: center;
}

.titre
{
	font-size: 1em
}

/* Début de barre de menu*/

#nav
{
  padding: 0;
  margin: auto;
  text-align: center;
	background-color: darkgrey;
	width: 55%;
	height: auto;
	border:2px;solid;transparent;
	border-radius: 10px;
}
#nav li
{
  display: inline;
  list-style:none;
}
#nav a
{
  display: inline-block;
  margin: 0 30px;
}

nav a
{
	display: block;
	text-decoration: none;
	color: white;
	font-weight: bold;
	border-bottom: 2px solid transparent;
	padding: 10px 0px;

}
nav a:hover
{
	color: black;
	border-bottom: 2px solid gold;
}
/* Fin de Barre de Menu*/

.code_css
{
	position: absolute;
	margin-top:30px;
	left:50%;
}

.balises
{

	font-style: italic;
	font-family: Montserrat;
	text-decoration: underline;
}

.titre_balisesex
{
	background-color: darkgrey;
	width: 15%;
	font-family: Montserrat;
}
